*{
    margin: 0;
    padding: 0
}
.container{
    background-image: url("pexels-hasan-albari-1229861.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    height: 700px;
    border: 1px solid white;
    /* margin: 0px auto; */
    background-color: rgba(255, 166, 0, 0.425);
}
.box{
    height: 350px;
    width:400px;
    background-color:burlywood;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    margin-top: 150px;
    margin-left: 600px; 
    border-radius: 10px;
}
.content{
    color: rgba(226, 16, 16, 0.858);
    text-align: center;
    padding-top:80px;
}
.email{
    color:black;
    text-align: center;
    padding-top:20px;
    border-radius: 5px;
}
.pass{
    color: black;
    text-align: center;
    padding-top:20px;

}
.check{
    color: black;
    text-align: center;
    padding-top:20px;

}
.btn{
    color: black;
    text-align: center;
    padding-top:20px;
}
